/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-08-2019, 13:06:52
    Author     : Placoste
*/
.lineaEncabezado {
    font-family: sans-serif,arial; font-size: 10px; text-align: center; vertical-align: middle; 
}
td,select,input {
    font-family: sans-serif,arial; font-size: 11px; vertical-align: middle; text-align: center;
}