.menu {
	width: 300px;
	height: 70px;
	position: absolute;
	text-align: left;
	cursor: pointer;
	z-index: 100;
	margin-left:940px;
}

.menu__label {
	display: block;
	background: none;
	border: none;
	width: 100%;
	height: 70px;
	padding: 0 1.25em;
	font-size: 1.3em;
	color: #fff;
	position: relative;
	outline: none;
	text-align: left;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

.menu__inner li a span,
.menu__label span {
	font-size: 0.68em;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.2;
	font-weight: 600;
}

.menu .fa {
	vertical-align: top;
	line-height: 1.25;
	margin-right: 0.65em;
	font-size: 1.15em;
}

.menu__inner {
	list-style: none;
	padding: 0 1.25em;
	font-size: 1.3em;
	margin: 0;
	position: absolute;
	overflow: hidden;
	height: 0;
	-webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.menu.menu--open .menu__inner {
	height: 710px;
}

.menu__inner li a {
	display: block;
	padding: 0.53em 0;
	line-height: 1.2;
	opacity: 0;
	color: #000000;
	pointer-events: none;
	outline: none;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.menu__inner li a:hover {
	color: #000000;
}

.menu--open .menu__inner li a {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu--open .menu__inner li:nth-child(2) a {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.menu--open .menu__inner li:nth-child(3) a {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.menu--open .menu__inner li:nth-child(4) a {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.menu--open .menu__inner li:nth-child(5) a {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.menu--open .menu__inner li:nth-child(6) a {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.morph-shape,
.morph-shape svg {
	position: absolute;
	width: 100%;
	height: 710px;
	top: 0;
	left: 0;
}

.morph-shape {
	height: 100%;
	-webkit-transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
	transition: height 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.morph-shape svg {
	height: 70px;
}

.menu.menu--open .morph-shape {
	height: 70px;
}

.morph-shape svg path {
	fill: #000000;
}