.efectoimagen {
  width: 100%;
  height: 100%;
  position: static;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: auto;
}
.div-imgk {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  
}
.div-img.hiddenk {
  overflow: hidden;
}
.div-imgk .imgk {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.div-imgk:hover .imgk {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}