/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-09-2016, 12:08:41 PM
    Author     : Informatica
*/

.header {
    color: #194f80;
    font-size: 20px;
    padding: 2px;
}

.bigicon {
    font-size: 35px;
    color: #194f80;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3276b1;
    text-align: center;
}