/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-11-2016, 02:22:29 PM
    Author     : Informatica
*/
.nav1 {
    float: right;
    max-width: 320px;
    margin: 0px;
    padding: 1em;
    margin-top: 10px;
}
.article {
    margin-left: 0px;
    border-left: 1px solid #bce8f1;
    padding: 1em;
    overflow: hidden;
    margin-top: 45px;
    height: 900px;
    overflow: scroll;
}
.article2{
    margin-left: 480px;
    border-left: 1px solid #bce8f1;
    padding: 1em;
    overflow: hidden;
    margin-top: 0px;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border-spacing: 1px;
   
}

.borde {

    border: 1px solid #428BC9;
    border-collapse: collapse;
    padding: 15px;
    align-content: center;
    align-items: center;
    align-self: center;
    vertical-align:middle;


}
.borde2 {

    border: 1px solid #428BC9;
    border-collapse: collapse;
    padding: 15px;
    width: 20px;


}


.body {
    margin: 0px;
}

.letra{

    font-family: Arial, Helvetica, sans-serif; color:#194f80; 
}
.letra2{

    font-family: Arial, Helvetica, sans-serif; color:#4d4d4d;
}

.navbar, .dropdown-menu{
    background:#3276b1;
    border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
    border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
    border-bottom: 3px solid transparent;
    background:#194f80;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
    color: #fff;
}
.dropdown-menu{
    -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
    border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
    border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
    border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
    border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
    border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
    border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
    border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
    border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #31b0d5;
}
.header-gradient {
    height: 17px;
    width: 100%;
    background: transparent url(../imagenes/header-gradient.png) repeat-x 0 0;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table#t01 tr:nth-child(even) {
    background-color:#eaeef1;
}
table#t01 tr:nth-child(odd) {
    background-color:#428BC9;
}


